html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 900;
  font-size: 1.7rem;
}
.heading-size--xxLarge {
  font-size: 4.8rem;
}
.heading-size--xLarge {
  font-size: 4.2rem;
}
.heading-size--large {
  font-size: 3.6rem;
}
.heading-size--medium {
  font-size: 3.2rem;
  font-weight: 800;
}
.heading-size--small {
  font-size: 2.4rem;
  font-weight: 700;
}
.heading-size--xSmall {
  font-size: 1.8rem;
  font-weight: bolder;
}
.heading-textAlign--left {
  text-align: left;
}
.heading-textAlign--center {
  text-align: center;
}
.heading-textAlign--right {
  text-align: right;
}
